<div id="menu">
  <%= link_to "Messages", messages_path %>
  |
  <%= link_to "Authors", authors_path %>
  |
  <%= link_to "Categories", categories_path %>
  |
  <%= link_to "Sub Categories",sub_categories_path %>
  
</div>
