<h1>Listing sub_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render sub_categories %>
</table>

<br />

<%= link_to 'New Sub category', new_sub_category_path %>
